body {
  max-width: 90%;
  margin: 5%;
  padding-left: 50px;
  background-image: url(https://images.pexels.com/photos/601798/pexels-photo-601798.jpeg?cs=srgb&dl=pexels-neosiam-601798.jpg&fm=jpg);
  font-family: "Montserrat", sans-serif;
}

p {
  color: #fff;
}

.row p {
  font-size: 15px;
}

.pwh {
  display: block;
  font-size: 40px;
}

h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

input {
  width: 80%;
}

#celsius,
#fahrenheit {
  color: #fff;
  font-size: 10px;
}

#search-button {
  background-color: darkblue;
  color: #fff;
  border-radius: 5px;
  width: 10%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 150px;
  display: inline;
}

#temp-convert {
  margin-left: 175px;
}

.gitHubLink {
  color: aquamarine;
}

footer {
  color: #fff;
  margin-top: 15%;
}
